body {
    font-family: Hack;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.dc {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
}

.files {
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
}

.f-ops {
    display: grid;
    grid-template-columns: 1fr 10fr 7fr;
}

.file {
    display: grid;
    grid-template-columns: 1fr 10fr
}